/*structures*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace, Helvetica, Arial, sans-serif;
    color: black;
    text-align: center;
}

.pattern {
    background-image: url(../img/star.gif);
    background-size: 120px 120px;
}

.frame {
    background-color: white;
    border: 20px solid #181815;
    padding: 0;
}

.blackbackground {
    background-color: #181815;
}

.whitebackground {
    padding: 30px;
}


/*texts*/

.clasicp {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.3em;
    width: 400px;
}

.introp {
    margin: auto;
    margin-bottom: 5%;
    width: 500px;
    text-align: center;
}

.formp {
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding-left: 10px;
    width: 300px;
    text-align: left;
    border-left: 1px solid black;
}

.minip {
    margin: 5% 10% 10% 10%;
}

.lesson {
    color: white;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 1.2em;
}

.playp {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    color: yellow;
    font-size: 120%;
    font-weight: bold;
}

h1 {
    font-family: 'Droid Sans', sans-serif, helvetica, arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-family: 'Droid Sans', sans-serif, helvetica, arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


/*buttons*/

button {
    color: black;
    background: white;
    border: 1px solid black;
    box-shadow: -5px 5px 0px 0px black, -4px 4px 0px 0px black, -4px 4px 0px 0px black, -3px 3px 0px 0px black, -2px 2px 0px 0px black, -2px 2px 0px 0px black, -1px 1px 0px 0px;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 10px 50px;
    border-radius: 0;
}

button:hover, button:focus {
    box-shadow: 0 0 0 2px white;
}


/*images*/

.logo {
    display: block;
    margin: auto;
    max-width: 150px;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: white;
}

.centerimage {
    max-width: 15%;
}

.gameimages {
    width: 70%;
    margin: 20px;
}

.trainingquote {
    margin-right: 10%;
    margin-top: 40%;
    width: 140px;
}


/***** Modal *****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    box-shadow: 0 0 0 0;
}


/***** Step by step Form *****/

#msform {
    width: 900px;
    margin: auto;
    height: 550px;
}

#msform fieldset {
    border: 0 none;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform .action-button {
    width: auto;
    color: black;
    background: white;
    border: 1px solid black;
    box-shadow: -5px 5px 0px 0px black, -4px 4px 0px 0px black, -4px 4px 0px 0px black, -3px 3px 0px 0px black, -2px 2px 0px 0px black, -2px 2px 0px 0px black, -1px 1px 0px 0px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px;
    position: relative;
    bottom: 10%;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white;
}

#msform textarea {
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
}
